<div class="container">
<div class="about-content w-75 mx-auto py-5">
    <span class="text-muted mb-5">ABOUT US</span>
<h4 class="mt-4 mb-4">WHO AM I?</h4>
<p class="text-muted"><span class="fw-bold">Hi Im Jackson Ford</span> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word (and) and the Little Blind Text should turn around and return to its own, safe country.</p>
<p class="text-muted mb-5">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
<div class="row">
    <div class="col-md-3">
        <div class="item-g bg-white p-4 shadow">
            <i class="fa-regular fa-lightbulb"></i>
            <h6>Graphic Design</h6>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="item-w bg-white p-4 shadow">
            <i class="fa-solid fa-earth-africa"></i>
            <h6>Web Design</h6>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="item-s bg-white p-4 shadow">
            <i class="fa-solid fa-database"></i>
            <h6>Software</h6>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="item-a bg-white p-4 shadow">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <h6>Appliaction</h6>
        </div>
        
    </div>
</div>
</div>
</div>

