<div class="container">
    <div class="about-content w-75 mx-auto py-5">
        <span class="text-muted mb-5">EXPERIENCE</span>
    <h4 class="mt-4 mb-4">WORK EXPERIENCE</h4>

    <div class="work-experience position-relative">
        <ul class="m-0 position-relative list-unstyled">
            <li class="done">
                <h5 class="mb-5">Full Stack Developer <span class="text-muted fs-5">2017-2018</span></h5>
                <p class="text-muted">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
            </li>
            <li class="done2">
                <h5 class="mb-5">Front End Developer at Google Company <span class="text-muted fs-5">2017-2018</span></h5>
                <p class="text-muted">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            </li>
            <li class="done3">
                <h5 class="mb-5">System Analyst  <span class="text-muted fs-5">2017-2018</span></h5>
                <p class="text-muted">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            </li>
           
           
        </ul>

    </div>
</div>