<div class="container">
    <div class="about-content w-75 mx-auto py-5">
        <span class="text-muted mb-5">MY WORK</span>
    <h4 class="mt-4 mb-4">RECENT WORK</h4>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="graphic-tab" data-bs-toggle="tab" data-bs-target="#graphic-tab-pane" type="button" role="tab" aria-controls="graphic-tab-pane" aria-selected="true">Graphic Design</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="app-tab" data-bs-toggle="tab" data-bs-target="#app-tab-pane" type="button" role="tab" aria-controls="app-tab-pane" aria-selected="false">Apps</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="soft-tab" data-bs-toggle="tab" data-bs-target="#soft-tab-pane" type="button" role="tab" aria-controls="soft-tab-pane" aria-selected="false">Software</button>
        </li>
       
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="graphic-tab-pane" role="tabpanel" aria-labelledby="graphic-tab" tabindex="0">
            <div class="row gy-5">
                <div class="col-md-6">
                    <div class="card work-card border-0 ">
                        <img src="../../assets/images/img-1-C4nS0eD8.jpg" alt="img1">
                        <div class="work-layer">
                           <div class="work-layer-content text-white">
                            <h5 class="mb-3">work</h5>
                            <p>Animation</p>
                           </div>
                           <div class="work-layer-icons text-white">
                            <i class="fa-solid fa-share-nodes ms-3"></i>
                            <i class="fa-regular fa-eye ms-3"></i> 100
                            <i class="fa-regular fa-heart ms-3"></i> 49
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card work-card border-0 ">
                        <img src="../../assets/images/img-4-tHccITd-.jpg" alt="img1">
                        <div class="work-layer">
                           <div class="work-layer-content text-white">
                            <h5 class="mb-3">work</h5>
                            <p>Animation</p>
                           </div>
                           <div class="work-layer-icons text-white">
                            <i class="fa-solid fa-share-nodes ms-3"></i>
                            <i class="fa-regular fa-eye ms-3"></i> 100
                            <i class="fa-regular fa-heart ms-3"></i> 49
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card work-card border-0 ">
                        <img src="../../assets/images/img-1-C4nS0eD8.jpg" alt="img1">
                        <div class="work-layer">
                           <div class="work-layer-content text-white">
                            <h5 class="mb-3">work</h5>
                            <p>Animation</p>
                           </div>
                           <div class="work-layer-icons text-white">
                            <i class="fa-solid fa-share-nodes ms-3"></i>
                            <i class="fa-regular fa-eye ms-3"></i> 100
                            <i class="fa-regular fa-heart ms-3"></i> 49
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card work-card border-0 ">
                        <img src="../../assets/images/img-4-tHccITd-.jpg" alt="img1">
                        <div class="work-layer">
                           <div class="work-layer-content text-white">
                            <h5 class="mb-3">work</h5>
                            <p>Animation</p>
                           </div>
                           <div class="work-layer-icons text-white">
                            <i class="fa-solid fa-share-nodes ms-3"></i>
                            <i class="fa-regular fa-eye ms-3"></i> 100
                            <i class="fa-regular fa-heart ms-3"></i> 49
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card work-card border-0 ">
                        <img src="../../assets/images/img-1-C4nS0eD8.jpg" alt="img1">
                        <div class="work-layer">
                           <div class="work-layer-content text-white">
                            <h5 class="mb-3">work</h5>
                            <p>Animation</p>
                           </div>
                           <div class="work-layer-icons text-white">
                            <i class="fa-solid fa-share-nodes ms-3"></i>
                            <i class="fa-regular fa-eye ms-3"></i> 100
                            <i class="fa-regular fa-heart ms-3"></i> 49
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card work-card border-0 ">
                        <img src="../../assets/images/img-4-tHccITd-.jpg" alt="img1">
                        <div class="work-layer">
                           <div class="work-layer-content text-white">
                            <h5 class="mb-3">work</h5>
                            <p>Animation</p>
                           </div>
                           <div class="work-layer-icons text-white">
                            <i class="fa-solid fa-share-nodes ms-3"></i>
                            <i class="fa-regular fa-eye ms-3"></i> 100
                            <i class="fa-regular fa-heart ms-3"></i> 49
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="app-tab-pane" role="tabpanel" aria-labelledby="app-tab" tabindex="0"> <div class="row gy-5">
            <div class="col-md-6">
                <div class="card work-card border-0 ">
                    <img src="../../assets/images/img-1-C4nS0eD8.jpg" alt="img1">
                    <div class="work-layer">
                       <div class="work-layer-content text-white">
                        <h5 class="mb-3">work</h5>
                        <p>Animation</p>
                       </div>
                       <div class="work-layer-icons text-white">
                        <i class="fa-solid fa-share-nodes ms-3"></i>
                        <i class="fa-regular fa-eye ms-3"></i> 100
                        <i class="fa-regular fa-heart ms-3"></i> 49
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card work-card border-0 ">
                    <img src="../../assets/images/img-4-tHccITd-.jpg" alt="img1">
                    <div class="work-layer">
                       <div class="work-layer-content text-white">
                        <h5 class="mb-3">work</h5>
                        <p>Animation</p>
                       </div>
                       <div class="work-layer-icons text-white">
                        <i class="fa-solid fa-share-nodes ms-3"></i>
                        <i class="fa-regular fa-eye ms-3"></i> 100
                        <i class="fa-regular fa-heart ms-3"></i> 49
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card work-card border-0 ">
                    <img src="../../assets/images/img-1-C4nS0eD8.jpg" alt="img1">
                    <div class="work-layer">
                       <div class="work-layer-content text-white">
                        <h5 class="mb-3">work</h5>
                        <p>Animation</p>
                       </div>
                       <div class="work-layer-icons text-white">
                        <i class="fa-solid fa-share-nodes ms-3"></i>
                        <i class="fa-regular fa-eye ms-3"></i> 100
                        <i class="fa-regular fa-heart ms-3"></i> 49
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card work-card border-0 ">
                    <img src="../../assets/images/img-4-tHccITd-.jpg" alt="img1">
                    <div class="work-layer">
                       <div class="work-layer-content text-white">
                        <h5 class="mb-3">work</h5>
                        <p>Animation</p>
                       </div>
                       <div class="work-layer-icons text-white">
                        <i class="fa-solid fa-share-nodes ms-3"></i>
                        <i class="fa-regular fa-eye ms-3"></i> 100
                        <i class="fa-regular fa-heart ms-3"></i> 49
                       </div>
                    </div>
                </div>
            </div>
           
           
        </div></div>
        <div class="tab-pane fade" id="soft-tab-pane" role="tabpanel" aria-labelledby="soft-tab" tabindex="0"> <div class="row gy-5">
            <div class="col-md-6">
                <div class="card work-card border-0 ">
                    <img src="../../assets/images/img-1-C4nS0eD8.jpg" alt="img1">
                    <div class="work-layer">
                       <div class="work-layer-content text-white">
                        <h5 class="mb-3">work</h5>
                        <p>Animation</p>
                       </div>
                       <div class="work-layer-icons text-white">
                        <i class="fa-solid fa-share-nodes ms-3"></i>
                        <i class="fa-regular fa-eye ms-3"></i> 100
                        <i class="fa-regular fa-heart ms-3"></i> 49
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card work-card border-0 ">
                    <img src="../../assets/images/img-4-tHccITd-.jpg" alt="img1">
                    <div class="work-layer">
                       <div class="work-layer-content text-white">
                        <h5 class="mb-3">work</h5>
                        <p>Animation</p>
                       </div>
                       <div class="work-layer-icons text-white">
                        <i class="fa-solid fa-share-nodes ms-3"></i>
                        <i class="fa-regular fa-eye ms-3"></i> 100
                        <i class="fa-regular fa-heart ms-3"></i> 49
                       </div>
                    </div>
                </div>
            </div>
           
         
        
        
        </div></div>
      </div>
   
    </div>
    </div>
    
    