.nav-tabs {
    display: flex;
    margin-bottom: 30px;
    justify-content: start;
    border: none;
    gap: 20px;
}
.nav-tabs .nav-link {
    border: none;
    color: #222;
    position: relative;
    text-transform: capitalize;
    padding: 0;

}
.nav-tabs .nav-link .active {
    color: #2c98f0 !important;
}
.work-layer {
    position: absolute;
    inset: 0;
    padding: 20px;
    background-color: #2c98f0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 100px;
    opacity: 0;
    transition: all .5s ;
}
.work-card:hover .work-layer {
    opacity: 1;
}