<div class="side-bar d-flex justify-content-center position-fixed p-3">
    <div class="side vh-100 py-5 text-center ">
      
        <img src="./assets/images/about-BgAkqdr2.jpg" class=" rounded-circle" alt="test">
        <h3>Jackson Ford</h3>
        <p><span>UI/UX/Designer</span> in Philippines</p>
        <ul class="list-unstyled ">
            <li class="py-2">
                <a class="text-decoration-none" routerLink="home" routerLinkActive="link-active" >Home</a>
            </li>
            <li class="py-2">
                <a class="text-decoration-none" routerLink="about" routerLinkActive="link-active" >About</a>
            </li>
            <li class="py-2">
                <a class="text-decoration-none" routerLink="skills" routerLinkActive="link-active" >Skills</a>
            </li>
            <li class="py-2">
                <a class="text-decoration-none" routerLink="experience" routerLinkActive="link-active" >Experience</a>
            </li>
            <li class="py-2">
                <a class="text-decoration-none" routerLink="work" routerLinkActive="link-active" >Work</a>
            </li>
        </ul>
      

    </div>
</div>
